header{
    background-color: #282321;
    padding:20px 0;
    nav{
        a.navbar-brand{
            width:170px;
            height:40px;
            color:#fff;
            font-size: 0;
            background: url(../img/gnb_Timberland_BI.svg) no-repeat center center / contain;
        }
        li.nav-item{
            padding:10px;
            a{
                color:#fff;
            }
        }
        .navbar-toggler-icon{
        }
        button.navbar-toggler{
            border:none;
            &:focus{
                box-shadow: 0 0 0 0;
            }
        }
        .fa-bars{
            color:#fff;
        }
    }
}

